@model App.Domain.ViewModel.IssueVM

@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="~/Css/FormDesign.css" rel="stylesheet" />
<style>
    table.dataTable.select tbody tr,
    table.dataTable thead th:first-child {
        cursor: pointer;
    }

    .col-md-12 {
        padding: 0 !important;
    }

    .form-control {
        border: 1px solid #00ffff;
    }

    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }

    input#vat6p1, input#vat6p4 {
        width: 25px;
        height: 15px;
        margin-top: 0px;
    }

    a#GLProvition {
        color: darkblue;
    }

    a#GLEntries {
        color: darkblue;
    }

    label#UnitName {
        height: 30px;
        font-size: 11px;
        color: #4c5667 !important;
        background: #eee;
        line-height: 2.5;
    }
</style>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-color panel-primary">
                <div class="modal fade in" id="pView" role="dialog" aria-hidden="true">
                    @Html.Partial("~/Views/Sales/CommonPV.cshtml")
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <text style="text-align:left !important; text-decoration: none;">Issue</text>
                        <text id="@Html.IdFor(x => x.BranchCode)" style="text-align:right !important; text-decoration: none; font-weight:bold; color:antiquewhite; font-size:medium; margin-left:560px">@ViewBag.branchCode</text>
                    </h3>
                </div>
                <div class="panel-body">
                    @if (ViewBag.OnlyVAT == false)
                    {
                        <div class="input-group form-group col-md-12">
                            <div class="col-md-4">
                                <label class="control-label" target="_blank">
                                    @Html.ActionLink(
                                "Issue Voucher waiting for Posting",
                                "GetJournalVoucher",
                                "Issue",
                                new { Date = "blankDate" },
                                new { id = "GLProvition", }
                                )
                                </label>
                                <label id="lblgl">(@ViewBag.GLProvition)</label>

                            </div>
                            <div class="col-md-3">
                                <label class="control-label" target="_blank">
                                    @Html.ActionLink(
                                "List of Issue Voucher",
                                "GetGLEntries",
                                 "Issue",
                                new { Date = "blankDate" },
                                new { id = "GLEntries", }
                                )
                                </label>
                                <label>(@ViewBag.GLEntries)</label>

                            </div>
                        </div>
                    }
                    <div class="col-md-12">

                        <div class="col-md-6">

                            <div class="col-md-10">
                                <label class="col-md-5" style="padding:initial;margin-right: -8px;">Issue No</label>
                                <div class="input-group form-group col-md-6">
                                    <input type="text" class="form-control" id="IssueNo" name="IssueNo" value="@ViewBag.IssueNo" , required="required" disabled="">
                                    <span class="field-validation-valid" data-valmsg-for="IssueNo" data-valmsg-replace="true"></span>
                                    <input type="hidden" name="PreIssueNo" id="PreIssueNo" />
                                    <input type="hidden" name="PreIssueDate" id="PreIssueDate" />
                                </div>
                            </div><div class="col-md-2" style="padding-right:initial;">
                                <input type="button" class="btn btn-primary" value="Edit" id="VchrNoEdit">
                            </div>


                        </div>
                        @*<div class="col-md-2" style="padding-right:initial; float:left">

                            </div>*@
                        <div class="col-md-6">
                            <label class="col-md-4">Issue Date</label>
                            <div class="input-group form-group col-md-8">
                                <input type="text" class="form-control datePage" placeholder="dd/mm/yyyy" id="@Html.IdFor(x => x.IssueDate)" value="@DateTime.Today.ToShortDateString()" required="required">
                                <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-4 required">Store Location</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.FromLocCode, null, new { @class = "form-control col-md-8 select2", @Value = ViewBag.FromLocCode })

                                @Html.ValidationMessageFor(x => x.FromLocCode)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">Voucher No</label>
                            <div class="col-md-6" style="padding-left:1px;">
                                <input class="form-control" id="VchrNo" name="VchrNo" type="text" value="@ViewBag.VchrNo">
                                <span class="field-validation-valid" data-valmsg-for="VchrNo" data-valmsg-replace="true"></span>
                            </div>
                            @*<span class="bg-primary b-0 text-white" style="width: 130px; margin-top: 100px;" id="newVchr"><i class="md-sync"></i></span>*@
                        </div>
                    </div>
                    @*<div class="col-md-12">
                            <label class="col-md-3" for="VoucherNo">Voucher No</label>
                            <div class="form-group col-md-6">
                                <input class="form-control" id="VoucherNo" name="VoucherNo" type="text" value="">
                                <span class="field-validation-valid" data-valmsg-for="VoucherNo" data-valmsg-replace="true"></span>

                            </div>


                        </div>*@
                    <div class="col-md-12">
                        <div class="col-md-6">

                            <label class="col-md-4 required">Issue Type</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.DesLocCode, null, "---- Select ----", new { @class = "form-control select2", @Value = ViewBag.DesLocCode })

                                @Html.ValidationMessageFor(x => x.DesLocCode)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">Issue To</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.ToLocCode, null, "---- Select ----", new { @class = "form-control select2", @Value = ViewBag.ToLocCode })

                                @Html.ValidationMessageFor(x => x.ToLocCode)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-4">Ref No</label>
                            <div class="input-group form-group col-md-8">
                                @Html.TextBoxFor(x => x.RefNo, new { @class = "form-control col-md-8 select2", required = "required" })
                                @Html.ValidationMessageFor(x => x.RefNo)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">Ref Date</label>
                            <div class="input-group form-group col-md-8">
                                <input type="text" class="form-control datePage" placeholder="dd/mm/yyyy" id="@Html.IdFor(x => x.RefDate)" value="@DateTime.Today.ToShortDateString()" required="required">
                                <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-4">Item Type</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.ItemType, null, "---- Select ----", new { @class = "form-control select2", @Value = ViewBag.ItemType })

                                @Html.ValidationMessageFor(x => x.ItemType)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 required">GL A/C</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.Accode, null, "---- Select ----", new { @class = "form-control select2", @Value = ViewBag.Accode })

                                @Html.ValidationMessageFor(x => x.Accode)
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-12">*@
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label class="col-md-4 required">Item</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.ItemCode, null, new { @class = "form-control select2", @Value = ViewBag.ItemCode })

                                @Html.ValidationMessageFor(x => x.ItemCode)
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label class="col-md-4">Description</label>
                            <div class="input-group form-group col-md-8">
                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control col-md-8 select2" })
                                @Html.ValidationMessageFor(x => x.Description)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5" style="padding-left:initial">
                                <label class="col-md-6 required">Iss. Qty</label>
                                <div class="input-group form-group col-md-6">
                                    @Html.TextBoxFor(x => x.Qty, new { @class = "form-control col-md-6 select2", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-5" style="padding-left:initial;padding-right:initial">
                                <label class="col-md-5">Ext. Qty</label>
                                <div class="input-group form-group col-md-7">
                                    @Html.TextBoxFor(x => x.ExQty, new { @class = "form-control col-md-7 select2", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-right:initial">
                                <label id="UnitName" class="label label-dark col-md-12">#</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5" style="padding-left:initial">
                                <label class="col-md-6 required">Unit Price</label>
                                <div class="input-group form-group col-md-6">
                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control col-md-6 select2", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-5" style="padding-left:initial;padding-right:initial">
                                <label class="col-md-5">Lot No</label>
                                <div class="input-group form-group col-md-7">
                                    @Html.TextBoxFor(x => x.LotNo, new { @class = "form-control col-md-7 select2", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-right:initial; float:right">
                                <input type="button" class="btn btn-primary" value="Add" id="add" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12" style="margin-bottom:5px; border:1px solid; border-color:#adcceb; width:100%">
                            <div class="row" style="padding:18px">
                                <div class="col-md-12">
                                    <br />
                                    <table class="table table-bordered table-responsive" id="datatable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Code</th>
                                                <th>Item<sapn>&nbsp;</sapn>Name</th>
                                                <th>Qty</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyId"></tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="row col-md-12" style="margin-left:10px; border:1px solid; border-color:#adcceb; width:100%">
                                <div class="row">
                                    <div class="col-md-11">
                                        <br />
                                        <table class="table table-bordered table-responsive" id="datatable-buttons" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Code No</th>
                                                    <th>Item</th>
                                                    <th>Qty</th>
                                                    <th>Price</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyId"></tbody>

                                        </table>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @* </div> *@


                    <div class="col-md-12">
                        <label class="col-md-2">Remarks</label>
                        <div class="input-group form-group col-md-8">
                            @Html.TextBoxFor(x => x.Remarks, new { @class = "form-control col-md-8 select2", required = "required" })
                            @Html.ValidationMessageFor(x => x.Remarks)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-4 required">Issue By</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.IssueByCode, null, "--- Select ---", new { @class = "form-control select2", required = "required", @Value = ViewBag.IssueByCode })
                                @Html.ValidationMessageFor(x => x.IssueByCode)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">Time</label>
                            <div class="input-group form-group col-md-6">
                                <input type="text" class="form-control" placeholder="HH:MM:SS" id="@Html.IdFor(x => x.IssTime)" value="@DateTime.Now.ToString("hh:mm:ss tt")" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-4 required">Approved By</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.AppByCode, null, "--- Select ---", new { @class = "form-control col-md-8 select2", required = "required", @Value = ViewBag.AppByCode })
                                @Html.ValidationMessageFor(x => x.AppByCode)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">Date</label>
                            <div class="input-group form-group col-md-6">
                                <input type="text" class="form-control datePage" placeholder="dd/mm/yyyy" id="@Html.IdFor(x => x.IssDate)" value="@DateTime.Today.ToShortDateString()" required="required">
                                <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MaintVAT == true)
                    {
                        <div class="col-sm-12" id="pnlVAT">
                            <label class="col-md-2"></label>
                            <div class="col-sm-10">
                                <div class="col-md-3">
                                    <span class="checkbox-button">
                                        <input type="checkbox" name="vat6p1" class="checkbox-primary" required="required" id="vat6p1" />
                                        <input type="button" class="btn-primary" value="VAT 6.1" id="btnVAT6p1" />
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span class="checkbox-button">
                                        <input type="checkbox" name="vat6p4" class="checkbox-primary" required="required" id="vat6p4" />
                                        <input type="button" class="btn-primary" value="VAT 6.4" id="btnVAT6p4" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row col-md-12" style="text-align:end">

                        <div class="col-md-11" style=" text-align:right;overflow:hidden">
                            <input type="button" value="Save" class="btn btn-primary" id="save" style="width:100px;" />
                            <input type="button" value="Update" class="btn btn-primary" id="update" style="width:100px;" />
                            <input type="button" value="Clear" class="btn btn-primary" id="clear" style="width:100px;" />
                            @*<input type="button" value="Close" class="btn btn-primary" id="closeIssue" />*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script src="~/App_Themes/Theme1/plugins/select2/select2.min.js" type="text/javascript"></script>
        <script src="~/App_Themes/Theme1/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/buttons.bootstrap.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/pdfmake.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/vfs_fonts.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/buttons.html5.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/buttons.print.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.fixedHeader.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.keyTable.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/responsive.bootstrap.min.js"></script>
        <script src="../App_Themes/Theme1/plugins/datatables/dataTables.scroller.min.js"></script>
        <script type="text/javascript" src="../App_Themes/Theme1/plugins/parsleyjs/dist/parsley.min.js"></script>
        <!-- Datatable init js -->
        <script src="../App_Themes/Theme1/blue/assets/pages/datatables.init.js"></script>
        <script>
            $(document).ready(function () {

                var ispType ='@ViewBag.errMsg';
                if (ispType != ''){
                    ispType = '@ViewBag.errMsg';
                }
                if (ispType == "VWP") {
                    alert("No Voucher waiting for posting Permission for this User");
                }else if (ispType == "VL") {
                    alert("No List Of Receive vouchers Permission for this User");
                }

                $("#IssueNo").prop("disabled", true);
                $("#VchrNoEdit").show();

                $("#VchrNoEdit").on("click", function () {
                    $("#IssueNo").prop("disabled", false);
                    $("#VchrNoEdit").hide();
                });


                function select2Focus() {
                    var select2 = $(this).data('select2');
                    setTimeout(function() {
                        if (!select2.opened()) {
                            select2.open();
                        }
                    }, 0);
                }

                $("input:text:visible:first").focus();
                $("#update").hide();
                $("#FromLocCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#Accode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#ItemType").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#IssueByCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#ToLocCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#ItemCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#AppByCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#DesLocCode").select2().one('select2-focus', select2Focus).on("select2-blur", function () {$(this).one('select2-focus', select2Focus)});
                $("#ExQty").prop("disabled", true);

                $("#vat6p1, #vat6p4").prop("disabled", true);

                $(document).on("click", "#btnVAT6p1, #btnVAT6p4", function (e) {
                    var TransNo = $("#PreIssueNo").val();
                    var fDate = moment($('#PreIssueDate').val(), 'DD/MM/YYYY').format('MM/DD/YYYY').toString();
                    var value = $(this).attr("id");
                    if ($("#vat6p4").prop("checked") == true && value == "btnVAT6p4") {
                        window.open('@Url.Action("TransWiseVat6P4RptPdf", "VATRpt", null)?TransNo=' + TransNo);
                    }
                    if ($("#vat6p1").prop("checked") == true && value == "btnVAT6p1") {
                        window.open('@Url.Action("TransWiseVatRptPdf", "VATRpt", null)?fDate=' + fDate + '&tDate=' + fDate + '&TransNo=' + TransNo);
                    }
                })

                $('#datatable').DataTable({
                    "paging":   false,
                    "ordering": false,
                    "info":     false,
                    "searching": false

                });
                var table = $('#datatable').dataTable();

                $("#clear").on("click", function () {
                    clearIssue();
                    //location.reload();
                });

                function clearIssue() {
                    $("#IssueNo").prop("disabled", false);
                    $("#IssueDate").val("@DateTime.Today.ToShortDateString()");
                    $("#RefDate").val("@DateTime.Today.ToShortDateString()");
                    $("#FromLocCode").val($('#FromLocCode option:first-child').val()).trigger('change.select2');
                    $("#ToLocCode").val($('#ToLocCode option:first-child').val()).trigger('change.select2');
                    $("#DesLocCode").val($('#DesLocCode option:first-child').val()).trigger('change.select2');
                    $("#Accode").val($('#Accode option:first-child').val()).trigger('change.select2');
                    $("#Source").val($('#Source option:first-child').val()).trigger('change.select2');
                    $("#ItemType").val($('#ItemType option:first-child').val()).trigger('change.select2');
                    $("#ItemCode").val($('#ItemCode option:first-child').val()).trigger('change.select2');
                    $("#IssueByCode").val($('#IssueByCode option:first-child').val()).trigger('change.select2');
                    $("#AppByCode").val($('#AppByCode option:first-child').val()).trigger('change.select2');
                    $("#IssDate").val("@DateTime.Today.ToShortDateString()");
                    $("#UnitName").html("#");
                    $("#RefNo").val("");
                    $("#Amount").val("");
                    $("#Remarks").val("");
                    $("#Description").val("");
                    $("#Qty").val("");
                    $("#ExQty").val("");
                    $("#Price").val("");
                    $("#LotNo").val("");
                    orders = new Array();

                    $("#save").show();
                    $("#update").hide();


                    $.ajax({
                        url: '@Url.Action("GetIssueNo", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            $("#IssueNo").val(datas);
                        }
                    });

                    $.ajax({
                        url: '@Url.Action("GetNewVoucherNo", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: { VType: 'II'},
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            $("#VchrNo").val(datas);
                        }
                    });
                    table.fnClearTable();
                }

                $.ajax({
                    url: '@Url.Action("GetNewVoucherNo", "Issue")',
                    contentType: "application/json;charset=utf-8",
                    data: { VType: 'II'},
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        $("#VchrNo").val(datas);
                    }
                });
                $(document).on("click", "#newVchr", function () {
                    $("#addModalButton").show();
                    $.ajax({
                        url: '@Url.Action("GetNewVoucherNo", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: { VType: 'II' },
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas != 0) {
                                $("#VchrNo").val(datas);
                            }
                        }
                    })
                });
                //For GLEntries
                $("#GLEntries").click(function () {
                    //Get the id of the selected item in dropdown
                    var IssueDate = moment($('#IssueDate').val(), 'DD/MM/YYYY').format('MM/DD/YYYY').toString();

                    var id = IssueDate + '&pageType=JVI';

                    //Replace the predifined QueryString param "xxx" with the "id"
                    this.href = this.href.replace("blankDate", id);
                });
                //For GLprovition
                $("#GLProvition").click(function () {
                    //Get the id of the selected item in dropdown
                    var IssueDate = moment($('#IssueDate').val(), 'DD/MM/YYYY').format('MM/DD/YYYY').toString();

                    var id = IssueDate + '&pageType=JVI';

                    //Replace the predifined QueryString param "xxx" with the "id"
                    this.href = this.href.replace("blankDate", id);
                });


                var isEdit = 0;
                var delQtyOrder = [];
                var loadInfo = {
                    IssueNo: "",
                    FromLocCode: "",
                    ToLocCode: "",
                    DesLocCode: "",
                    RefNo: "",
                    Accode: "",
                    ItemCode: "",
                    Description: "",
                    Qty: "",
                    ExQty: "",
                    Price: "",
                    LotNo: "",
                    IssDate: "",
                    RefDate: "",
                    Remarks: "",
                    IssueByCode: "",
                    AppByCode: "",
                    IssueDate: "",
                    IssTime: ""
                };
                function setOrder() {
                    loadInfo.FromLocCode = $("#FromLocCode").val();
                    loadInfo.ToLocCode = $("#ToLocCode").val();
                    loadInfo.DesLocCode = $("#DesLocCode").val();
                    loadInfo.RefNo = $("#RefNo").val();
                    loadInfo.Accode = $("#Accode").val();
                    loadInfo.ItemCode = $("#ItemCode").val();
                    loadInfo.Description = $("#Description").val();
                    loadInfo.Qty = $("#Qty").val();
                    loadInfo.ExQty = $("#ExQty").val();
                    loadInfo.Price = $("#Price").val();
                    loadInfo.LotNo = $("#LotNo").val();
                    loadInfo.IssDate = $("#IssDate").val();
                    loadInfo.RefDate = $("#RefDate").val();
                    loadInfo.Remarks = $("#Remarks").val();
                    loadInfo.IssueByCode = $("#IssueByCode").val();
                    loadInfo.AppByCode = $("#AppByCode").val();
                    loadInfo.IssueDate = $("#IssueDate").val();
                    loadInfo.IssTime = $("#IssTime").val();
                }

                function validateOnSave(validOrder) {

                    if (!validOrder.FromLocCode.trim().length) {
                        return "Please select store location.";
                    }

                    if (!validOrder.DesLocCode.trim().length) {

                        return "Issue Type is required";
                    }
                    //if (validOrder.ToLocCode == null) {
                    //    return "Issue To is Required";
                    //}
                    //if (!validOrder.ToLocCode.trim().length) {
                    //    return "Issue To is required";
                    //}
                    if (validOrder.Accode == "") {
                        return "GL A/C is required";
                    }
                    //if (!validOrder.ItemCode.trim().length) {
                    //    return "Item is required";
                    //}
                    if (!validOrder.IssueByCode.trim().length) {
                        return "Issue By required";
                    }
                    if (!validOrder.AppByCode.trim().length) {
                        return "Approved By is Required";
                    }
                    return "";

                }
                $(document).on("change", "#FromLocCode", function(e){
                    $("#ItemCode").val("").change();
                })




                @*$(document).on("click", "#closeIssue", function () {
                    window.close();
                });

                $("#closeIssue").click(function (e) {
                    @Html.ActionLink("Home", "Index", "Home")
                });*@

                $("#RefNo").keypress(function (e) {
                    if (e.which == 13) {
                        //$("#save").hide();
                        //$("#update").show();

                        $.ajax({
                            url: '@Url.Action("GetAllByRefNo", "Issue")',
                            contentType: "application/json;charset=utf-8",
                            data: { refNo: $("#RefNo").val() },
                            type: 'GET',
                            dataType: 'json',
                            success: function (datas) {

                                if (datas.RcvNo == "undefined") {
                                    alert("error")
                                }
                                else {

                                    if (moment(datas.Main.IssueDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#IssueDate").datepicker("setDate", DateInDMYformat(datas.Main.IssueDate));
                                    }
                                    $("#ToLocCode").val(datas.Main.ToLocCode).trigger('change.select2');
                                    $("#FromLocCode").val(datas.Main.StoreLocCode).trigger('change.select2');
                                    $("#ToLocCode").val(datas.Main.IssueToSubCode).trigger('change.select2');
                                    $("#DesLocCode").val(datas.Main.DesLocCode).trigger('change.select2');
                                    $("#Accode").val(datas.Main.Accode).trigger('change.select2');
                                    $("#ItemCode").val(datas.Main.ItemCode).trigger('change.select2');
                                    $("#Description").val(datas.Details.Description);
                                    if (moment(datas.Main.RefDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#RefDate").datepicker("setDate", DateInDMYformat(datas.Main.RefDate));
                                    }
                                    $("#Remarks").val(datas.Main.Remarks);
                                    $("#IssueByCode").val(datas.Main.IssueByCode).trigger('change.select2');
                                    $("#AppByCode").val(datas.Main.AppByCode).trigger('change.select2');
                                    if (moment(datas.Main.IssDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#IssDate").datepicker("setDate", DateInDMYformat(datas.Main.IssDate));
                                    }

                                    var table = $("#datatable").DataTable();
                                    table.clear().draw();
                                    orders = [];
                                    if (datas.Details.length > 0) {
                                        var j = 0;
                                        $.each(datas.Details, function (index, data) {
                                            j++;
                                            data.Sl = j;
                                            data.ExQty = data.CurrQty;
                                            data.CurrQty = data.Qty;
                                            orders.push(data);

                                        });
                                        isEdit = 1;
                                        //PurpuseBySrcDest();
                                        addOnTable();
                                    }

                                }

                            },
                            error: function () {
                                swal("Sorry!! This order no does not exist.", "fail")
                            }
                        });
                    }
                });



                $("#IssueNo").keypress(function (e) {
                    if (e.which == 13) {
                        $("#save").hide();
                        $("#update").show();
                        //GetAllPurpose();
                        //GetAllBySubsidiary();
                        $.ajax({
                            url: '@Url.Action("GetAllByCode", "Issue")',
                            contentType: "application/json;charset=utf-8",
                            data: { issueNo: $("#IssueNo").val() },
                            type: 'GET',
                            dataType: 'json',
                            success: function (datas) {

                                if (datas != null) {
                                    $("#IssueNo").prop("disabled", true);

                                    $("#IssueNo").val(datas.issueInfo.Main.IssueNo);
                                    if (moment(datas.issueInfo.Main.IssueDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#IssueDate").datepicker("setDate", DateInDMYformat(datas.issueInfo.Main.IssueDate));
                                    }
                                    $("#FromLocCode").val(datas.issueInfo.Main.FromLocCode).trigger('change.select2');
                                    $("#VchrNo").val(datas.issueInfo.Main.VchrNo);
                                    $("#ToLocCode").val(datas.issueInfo.Main.IssueToSubCode).trigger('change.select2');
                                    $("#DesLocCode").val(datas.issueInfo.Main.DesLocCode).trigger('change.select2');
                                    $("#RefNo").val(datas.issueInfo.Main.RefNo);
                                    $("#Accode").val(datas.issueInfo.Main.Accode).trigger('change.select2');
                                    $("#ItemCode").val(datas.issueInfo.Details.ItemCode).trigger('change.select2');
                                    $("#Description").val(datas.issueInfo.Details.Description);
                                    if (moment(datas.issueInfo.Main.RefDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#RefDate").datepicker("setDate", DateInDMYformat(datas.issueInfo.Main.RefDate));
                                    }
                                    $("#Remarks").val(datas.issueInfo.Main.Remarks);
                                    $("#IssueByCode").val(datas.issueInfo.Main.IssueByCode).trigger('change.select2');
                                    $("#AppByCode").val(datas.issueInfo.Main.AppByCode).trigger('change.select2');
                                    if (moment(datas.issueInfo.Main.IssDate).format('MM/DD/YYYY') != moment('01/01/1900').format('MM/DD/YYYY')) {
                                        $("#IssDate").datepicker("setDate", DateInDMYformat(datas.issueInfo.Main.IssDate));
                                    }
                                    //$("#IssTime").val(datas.Main.IssTime);

                                    var table = $("#datatable").DataTable();
                                    //table.clear().draw();
                                    orders = [];
                                    if (datas.issueInfo.Details.length > 0) {
                                        var j = 0;
                                        $.each(datas.issueInfo.Details, function (index, data) {
                                            j++;
                                            data.Sl = j;
                                            data.CurrQty = data.Qty;
                                            orders.push(data);

                                        });
                                        isEdit = 1;
                                        //addOnTableByEdit();
                                        addOnTable();
                                    }

                                    if (datas.returnValue != "") {
                                        var strMsg = datas.returnValue;
                                        if (strMsg.split(';')[0] == '6.1') {
                                            $("#vat6p1").prop("checked", true);
                                        }
                                        if (strMsg.split(';')[0] == '6.4') {
                                            $("#vat6p4").prop("checked", true);
                                        }
                                        $("#PreIssueNo").val($("#IssueNo").val());
                                        $("#PreIssueDate").val($("#IssueDate").val());
                                    }
                                }

                            },
                            error: function () {
                                swal("Sorry!! This order no does not exist.", "fail")
                            }
                        });
                    }
                });

                $(document).on("click", "#update", function () {

                    var recvInfo = {
                        IssueNo: "", FromLocCode: "", ToLocCode: "", DesLocCode: "", RefNo: "", Accode: "", ItemCode: "", Description: "",
                        Qty: "", ExQty: "", Price: "", LotNo: "", IssDate: "", RefDate: "", Remarks: "",
                        IssueByCode: "", AppByCode: "", IssueDate: "", IssTime: "", VchrNo:""
                    };
                    //$("#AreaCode").val(setOrder.AreaCode).trigger('change');
                    //$("#RefDate").val(moment(setOrder.RefDate).format("MM/DD/YYYY"));

                    recvInfo.IssueNo = $("#IssueNo").val();
                    recvInfo.FromLocCode = $("#FromLocCode").val();
                    recvInfo.ToLocCode = $("#ToLocCode").val();
                    recvInfo.IssueToSubCode = $("#ToLocCode").val();
                    recvInfo.DesLocCode = $("#DesLocCode").val();
                    recvInfo.RefNo = $("#RefNo").val();
                    recvInfo.Accode = $("#Accode").val();
                    recvInfo.ItemCode = $("#ItemCode").val();
                    recvInfo.Description = $("#Description").val();
                    recvInfo.Qty = $("#Qty").val();
                    recvInfo.ExQty = $("#ExQty").val();
                    recvInfo.Price = $("#Price").val();
                    recvInfo.LotNo = $("#LotNo").val();
                    recvInfo.IssDate = $("#IssDate").val();
                    recvInfo.RefDate = $("#RefDate").val();
                    recvInfo.Remarks = $("#Remarks").val();
                    recvInfo.IssueByCode = $("#IssueByCode").val();
                    recvInfo.AppByCode = $("#AppByCode").val();
                    recvInfo.IssueDate = $("#IssueDate").val();
                    recvInfo.IssTime = $("#IssTime").val();
                    recvInfo.VchrNo = $("#VchrNo").val();
                    $.ajax({
                        url: '@Url.Action("UpdateIssueInfo", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify({ issueMain: recvInfo, issueDetails: orders, currentStock: orders }),
                        type: 'POST',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas == 1) {
                                document.getElementById("IssueNo").disabled = false;
                                swal({
                                    title: "Ok",
                                    text: "Update Sucessfully!",
                                    type: "success"
                                }, function () {
                                    location.reload();
                                });
                                $('#tbodyId').empty();
                                orders = [];
                                $("#RcvNo").val(datas);
                                $("#update").hide();
                                $("#save").show();
                            }
                            else if (datas == "U") {
                                swal({
                                    title: "Sorry",
                                    text: "No Update Permission for this User",
                                    type: "warning"
                                });
                            }
                            else if (datas == 0) {
                                swal(
                                    'Sorry!',
                                    'Something went wrong please try again!',
                                    'warning'
                                );
                                $("#update").prop("disabled", false);
                            }
                            else if (datas == 'VchrPosted') {
                                swal(
                                     'Sorry!',
                                     'This Voucher Already Posted.!!!',
                                     'warning'
                                     );
                                $("#update").prop("disabled", false);
                            }
                        }
                    });

                });


                $(document).on("click", "#save", function () {
                    setOrder();
                    var validate = validateOnSave(loadInfo);
                    if (validate != "") {
                        alert(validate);
                        return;
                    }
                    var recvInfo = {
                        IssueNo: "", FromLocCode: "", IssueToSubCode: "", DesLocCode: "", RefNo: "", Accode: "", ItemCode: "", Description: "",
                        Qty: "", ExQty: "", Price: "", LotNo: "", IssDate: "", RefDate: "", Remarks: "", SubCode: "",
                        IssueByCode: "", AppByCode: "", IssueDate: "", IssTime: "", StoreLocCode: "", VchrNo:"", DesLocCodeText:""
                    };
                    //$("#AreaCode").val(setOrder.AreaCode).trigger('change');
                    //$("#RefDate").val(moment(setOrder.RefDate).format("MM/DD/YYYY"));
                    recvInfo.SubCode = $("#ToLocCode").val();
                    recvInfo.IssueNo = $("#IssueNo").val();
                    recvInfo.FromLocCode = $("#FromLocCode").val();
                    recvInfo.IssueToSubCode = $("#ToLocCode").val();
                    recvInfo.StoreLocCode = $("#FromLocCode").val();
                    recvInfo.DesLocCode = $("#DesLocCode").val();
                    recvInfo.DesLocCodeText = $("#DesLocCode option:selected").text();
                    recvInfo.RefNo = $("#RefNo").val();
                    recvInfo.Accode = $("#Accode").val();
                    recvInfo.ItemCode = $("#ItemCode").val();
                    recvInfo.Description = $("#Description").val();
                    recvInfo.Qty = $("#Qty").val();
                    recvInfo.ExQty = $("#ExQty").val();
                    recvInfo.Price = $("#Price").val();
                    recvInfo.LotNo = $("#LotNo").val();
                    recvInfo.IssDate = $("#IssDate").val();
                    recvInfo.RefDate = $("#RefDate").val();
                    recvInfo.Remarks = $("#Remarks").val();
                    recvInfo.IssueByCode = $("#IssueByCode").val();
                    recvInfo.AppByCode = $("#AppByCode").val();
                    recvInfo.IssueDate = $("#IssueDate").val();
                    recvInfo.IssTime = $("#IssTime").val();
                    recvInfo.VchrNo = $("#VchrNo").val();
                    if (orders != 0) {
                        $.ajax({
                            url: '@Url.Action("SaveIssueInfo", "Issue")',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({ issueMain: recvInfo, issueDetails: orders, currentStock: orders }),
                            type: 'POST',
                            dataType: 'json',
                            success: function (datas) {
                                if (datas.Msg == "1") {
                                    swal({
                                        title: "Ok",
                                        text: "Sucessfully Saved!",
                                        type: "success"
                                    }, function () {
                                        clearIssue();

                                        $("#PreIssueNo").val($("#IssueNo").val());
                                        $("#PreIssueDate").val($("#IssueDate").val());
                                        if (datas.returnValue == '6.4') {
                                            $("#vat6p4").prop("checked", true);
                                        }
                                        if (datas.returnValue == '6.1') {
                                            $("#vat6p1").prop("checked", true);
                                        }

                                        $.ajax({
                                            url: '@Url.Action("GetGlPCountN", "Issue")',
                                            contentType: "application/json;charset=utf-8",
                                            data: { VType: 'II'},
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (datas) {
                                                if (datas != 0) {
                                                    $("#lblgl").text('(' +datas + ')');
                                                }
                                            }
                                        })
                                    });
                                    $("#save").prop("disabled", false);
                                    orders = [];
                                    $('#tbodyId').empty();

                                }
                                else if (datas == "X") {
                                    swal({
                                        title: "Sorry",
                                        text: "No Save Permission for this User",
                                        type: "warning"
                                    });
                                }
                                else if (datas == 0) {
                                    swal(
                                        'Sorry!',
                                        'Please select valid Item or Store location!!!',
                                        'warning'
                                    );
                                    $("#save").prop("disabled", false);
                                }

                                    //multi user code
                                else if (datas == 3) {
                                    swal({
                                        title: "Already exists Please try again!",
                                        text: "Please try again!",
                                        type: "success"
                                    }, function () {
                                        $.ajax({
                                            url: '@Url.Action("IssueNoIncreement", "Issue")',
                                            contentType: "application/json;charset=utf-8",
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (datas) {
                                                $("#IssueNo").val(datas);
                                            }
                                        });
                                    });
                                    $("#save").prop("disabled", false);
                                }
                            }
                        });
                    }else{
                        swal(
                            'Sorry!',
                            'Please Add item in the Table.!!!',
                            'warning'
                            );
                    }
                });

                @*$(document).on("change", "#ItemType", function (e) {
                    var order = { ItemCode: "" };

                    $.ajax({
                        url: '@Url.Action("GetItemByitemType", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: {
                            ItemType: $("#ItemType").val()
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#ItemCode').empty();
                            $.each(data, function (index, value) {
                                $('#ItemCode').append($('<option>',
                                    {

                                        value: value.Value,
                                        text: value.Text
                                    })).select2();

                            });
                            //$("input:text:visible:first").focus();
                            $("#ItemCode").select2().one('select2-focus', select2Focus)
                                .on("select2-blur",
                                function ()
                                {
                                    $(this).one('select2-focus', select2Focus)

                                });

                            $("#ItemCode").focus();
                            var e = jQuery.Event("keypress");
                            e.which = 13;
                            $("#ItemCode").trigger('change');

                            order.ItemCode = "0";
                        }
                    });
                });*@



                $(document).on("change", "#FromLocCode", function(e){
                    $("#RecvItem").val("").change();
                })

                $(document).on("change", "#ItemCode", function (e) {
                    var locNo = $("#FromLocCode").val();
                    if (locNo != " " && locNo != null) {
                        $.ajax({
                            type: "Get",
                            contentType: "application/json;charset=utf-8",
                            url: '@Url.Action("GetItemByQtyPrice", "Receive")',
                            data: { Item: $("#ItemCode").val(), LocNo: $("#FromLocCode").val() },
                            dataType: 'json',
                            success: function (item) {
                                if (item == 0) {
                                    clearItemInfo();
                                }
                                else {
                                    var prevDelQty = 0;
                                    const i = delQtyOrder.findIndex(_x => _x.ItemCode === item.ItemCode);
                                    if (i > -1)
                                    {
                                        prevDelQty = parseInt(delQtyOrder[i].Qty);
                                    }
                                    $("#ExQty").val(item.CurrQty + prevDelQty);
                                    $("label#UnitName").html(item.UnitName);
                                    $("#Price").val(item.UnitPrice);
                                    //$("#LotNo").val(item.LotNo);
                                }
                            }
                        });
                    }
                    else {
                        alert("Please select Store location.");
                    };

                });


                @*$(document).on("change", "#ItemCode", function (e) {

                    $.ajax({
                        type: "Get",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("GetItemByQtyPrice", "Receive")',
                data: { Item: $("#ItemCode").val(), LocNo: $("#FromLocCode").val() },
                dataType: 'json',
                success: function (datas) {
                    if (datas != false) {
                        $("#ExQty").val(datas.CurrQty);
                        $("#Price").val(datas.UnitPrice);
                        $("#LotNo").val(datas.LotNo);

                    }
                    else {
                        clearItemInfo();
                        //alert("Data Not Found");
                    }
                }
            });


        });*@

                var orders = [];
                $('#add').click(function () {

                    var Price = $("#Price").val();
                    var qty = $("#Qty").val();
                    //if (isEdit != 1) {
                    if ($("#ItemCode option:selected").text()== "---- Select ----") {
                        alert("Item is required");
                        return;
                    }
                    if(qty <= 0 || qty == "")
                    {
                        alert("Iss. Quantity is Required.");
                        return;
                    }
                    if(Price <= 0 || Price == "")
                    {
                        alert("Unit Price is Required.");
                        return;
                    }

                    //}
                    addOnList();
                    $("tbody#tbodyId tr:even").css({
                        "background-color": "#e6e8e8"
                    });
                    clearItemInfo();

                });
                function clearItemInfo() {
                    $("#Qty").val("");
                    $("#Price").val("");
                    //$("#ExQty").val("");
                    $("#LotNo").val("");
                    $("#Description").val("");
                }

                function addOnList() {
                    var newAddList = [];
                    var newAddListSl = 0;

                    var RcvNo = $("#RcvNo").val();
                    var IssueNo = $("#IssueNo").val();
                    var ItemCode = $("#ItemCode option:selected").val();
                    var CurrQty = parseFloat($("#Qty").val()).toFixed(2).replace(".", ","); // $("#Qty").val();
                    var Qty = parseFloat($("#Qty").val()).toFixed(2).replace(".", ",");
                    var Description = $("#Description").val();
                    var ExQty = parseFloat($("#ExQty").val()).toFixed(2).replace(".", ","); // $("#ExQty").val();
                    var SubCode = $("#ToLocCode").val();
                    var LotNo = "01";
                    if ($("#LotNo").val() != "") {
                        LotNo = $("#LotNo").val();
                    }
                    //var LotNo = $("#LotNo").val();



                    var Price = parseFloat($("#Price").val()).toFixed(2).replace(".", ","); //$("#Price").val();
                    var UnitPrice = parseFloat($("#Price").val()).toFixed(2).replace(".", ",");
                    var ItemName = $('#ItemCode option:selected').text();

                    var LsitQty = 0
                    for (var i = 0, _len = orders.length; i < _len; i++) {
                        const i = orders.findIndex(_item => _item.ItemCode === ItemCode);
                        if (i > -1)
                        {
                            LsitQty = parseInt(orders[i].Qty.replace(",", "."));
                        }
                    }

                    //ExQty = ExQty - LsitQty;
                    //if (Qty != "" && (parseFloat(Qty)) <= (parseFloat(ExQty))) {   //for not (-) qty
                    if (Qty != "") {
                        var item = {
                            ItemCode: ItemCode, CurrQty: CurrQty, LotNo: LotNo, SubCode: SubCode, IssueNo: IssueNo, Description:Description,
                            Price: Price, Sl: 0, ItemName: ItemName, RcvNo: RcvNo, ExQty: ExQty, Qty: Qty , UnitPrice: UnitPrice
                        }
                        //item.Sl = orders.length + 1
                        //orders.push(item);
                        const i = orders.findIndex(_item => _item.ItemCode === ItemCode && _item.LotNo === LotNo);
                        if (i > -1)
                        {
                            var prevQty = parseInt(orders[i].Qty.replace(",", "."));
                            CurrQty = prevQty + parseInt(CurrQty.replace(",", "."));
                            item.Qty = CurrQty;
                            item.CurrQty = CurrQty;
                            orders[i] = item;
                        }
                        else
                        {
                            item.Sl = orders.length + 1;
                            orders.push(item);
                        }
                        addOnTable();
                    }
                    else
                    {
                        //swal(
                        //     'Sorry!',
                        //     'Existing quantity is more than current quantity.!!!',
                        //     'warning'
                        // );
                        swal(
                             'Sorry!',
                             'Quantity is Required.!!!',
                             'warning'
                         );
                    }
                }

                $(document).on('click', '#delete', function () {
                    var id = $(this).attr("value");

                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this order data!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: true
                    },
                     function () {

                         if (isEdit == 1) {
                             var delQtySl = 0;
                             var delQtyItem = {Qty:Qty,IssueNo:IssueNo,ItemCode:ItemCode,LotNo:LotNo}
                             const i = orders.findIndex(_x => _x.Sl === parseInt(id));
                             if (i > -1)
                             {
                                 delQtySl++;
                                 delQtyItem.Qty = orders[i].Qty;
                                 delQtyItem.IssueNo = $("#IssueNo").val();
                                 delQtyItem.ItemCode = orders[i].ItemCode;
                                 delQtyItem.LotNo = orders[i].LotNo;
                                 delQtyOrder.push(delQtyItem)
                             }
                            
                         }

                         deleteRow(id);
                         addOnTable();
                         //swal("Deleted!", "Your imaginary file has been deleted.", "success");

                     });
                });
                function deleteRow(sl) {
                    var newOrder = [];
                    var newSl = 0;

                    $.each(orders, function (index, data) {

                        if (data.Sl != sl) {
                            newSl++;
                            data.Sl = newSl;
                            data.Id = 0;
                            newOrder.push(data);
                        }
                    });
                    orders = new Array();
                    orders = newOrder;

                }

                function addOnTable() {
                    $('#tbodyId').empty();
                    var sl = 0;
                    $.each(orders, function (index, data) {
                        sl = sl + 1;
                        data.Sl = sl;
                        if (isEdit == 1) {
                            $("#tbodyId").append("<tr><td>" + sl + "</td><td>"
                                                               + data.ItemCode + "</td><td>"
                                                               + data.ItemName + "</td><td>"
                                                               + data.Qty + "</td><td>"
                                                               + (data.Qty.replace(",", ".") * data.Price.replace(",", ".")).toFixed(2)  + "</td><td>"
                                                              + '<a href="#" class="on-default remove-row deleteSup" data-id="' + sl + '" id="delete" value="' + sl + '"><i class="glyphicon glyphicon-trash"></i></a>' + "</td></tr>");

                        }
                        else {
                            $("#tbodyId").append("<tr><td>" + sl + "</td><td>"
                                                               + data.ItemCode + "</td><td>"
                                                               + data.ItemName + "</td><td>"
                                                               + data.Qty + "</td><td>"
                                                               + (data.Qty.replace(",", ".") * data.Price.replace(",", ".")).toFixed(2) + "</td><td>"
                                                              + '<a href="#" class="on-default remove-row deleteSup" data-id="' + sl + '" id="delete" value="' + sl + '"><i class="glyphicon glyphicon-trash"></i></a>' + "</td></tr>");

                        };
                    });
                }

                $(document).on("change", "#DesLocCode", function () {
                    //PurpuseBySrcDest();
                });

                function PurpuseBySrcDest() {
                    var order = { Accode: "", ReceiveFrom: "" };

                    $.ajax({
                        url: '@Url.Action("GetPurpuseBySrcDest", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: {
                            DesLocCode: $("#DesLocCode").val()
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#Accode').empty();
                            $.each(data, function (index, value) {
                                $('#Accode').append($('<option>',
                                    {
                                        value: value.Value,
                                        text: value.Text
                                    })).select2();
                            });
                            $("#Accode").val(order.Accode).trigger('change');
                            order.Accode = "0";
                        }
                    });
                };



                function GetAllPurpose() {
                    var order = { Accode: "", ReceiveFrom: "" };

                    $.ajax({
                        url: '@Url.Action("GetPurpuseBySrcDest", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: {
                            DesLocCode: "LoadAllIsEdit"
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#Accode').empty();
                            $.each(data, function (index, value) {
                                $('#Accode').append($('<option>',
                                    {
                                        value: value.Value,
                                        text: value.Text
                                    })).select2();
                            });
                            $("#Accode").val(order.Accode).trigger('change');
                            order.Accode = "0";
                        }
                    });
                };

                function GetAllBySubsidiary() {
                    var order = { Accode: "", ToLocCode: "" };

                    $.ajax({
                        url: '@Url.Action("GetSubsidiaryBySrcDest", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: {
                            DesLocCode: "LoadAllIsEdit"
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#ToLocCode').empty();
                            $.each(data, function (index, value) {
                                $('#ToLocCode').append($('<option>',
                                    {
                                        value: value.Value,
                                        text: value.Text
                                    })).select2();
                            });
                            $("#ToLocCode").val(order.ToLocCode).trigger('change');
                            order.ToLocCode = "0";
                        }
                    });
                };

                @*$(document).on("change", "#DesLocCode", function () {
                    var order = { Accode: "", ToLocCode: "" };

                    $.ajax({
                        url: '@Url.Action("GetSubsidiaryBySrcDest", "Issue")',
                        contentType: "application/json;charset=utf-8",
                        data: {
                            DesLocCode: $("#DesLocCode").val()
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#ToLocCode').empty();
                            $.each(data, function (index, value) {
                                $('#ToLocCode').append($('<option>',
                                    {
                                        value: value.Value,
                                        text: value.Text
                                    })).select2();
                            });
                            $("#ToLocCode").val(order.ToLocCode).trigger('change');
                            order.ToLocCode = "0";
                        }
                    });
                });*@

                //***************************** For Common Item Filtering option start *******************************
                $(document).on("change", "#ItemType", function (e) {
                    if ('@ViewBag.NoGrp' == 'False') {

                        if ($("#ItemType option:selected").text() != "---- Select ----") {
                            $("#pView").modal("show");
                        }
                        //for group load by itemtype.......
                        $.ajax({
                            url: '@Url.Action("LoadGroupInfoByItemType", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#GroupID').empty();
                                //data.insertBefore('<option>', { Value: "", text: "--- Select ---" });
                                $.each(data, function (index, value) {
                                    $('#GroupID').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                                //$("#GroupID").val(order.Purpose).trigger('change');
                                //order.Purpose = "0";
                            }
                        });
                    } else {
                        //for Item load by itemtype.......
                        $.ajax({
                            url: '@Url.Action("LoadItemByItemType", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#ItemCode').empty();
                                $.each(data, function (index, value) {
                                    $('#ItemCode').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                            }
                        });
                    }
                })

                //for sgroupinfo load by GroupID.......
                $(document).on("change", "#GroupID", function (e) {
                    if ('@ViewBag.OnlyGrp' == 'False') {

                        $.ajax({
                            url: '@Url.Action("LoadSGroupByGroupId", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val(), GroupID: $("#GroupID").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#SGroupID').empty();
                                $.each(data, function (index, value) {
                                    $('#SGroupID').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                            }
                        });
                    }
                })


                //for ssgroupinfo load by sGroupID.......
                $(document).on("change", "#SGroupID", function (e) {
                    if ('@ViewBag.SubSubGrp' == 'True') {
                        $.ajax({
                            url: '@Url.Action("LoadSSGroupInfo", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val(), GroupID: $("#GroupID").val(), SGroupID: $("#SGroupID").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#SSGroupID').empty();
                                $.each(data, function (index, value) {
                                    $('#SSGroupID').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                            }
                        });
                    }
                })

                //for ItmeInfo load by ssGroupID....... ItemType, GroupId, SGroupId, SSGroupId
                $(document).on("click", "#btnOk", function (e) {
                    $("#pView").modal("hide");

                    if ('@ViewBag.OnlyGrp' == 'True') {
                        //for Item load by GroupID.......
                        $.ajax({
                            url: '@Url.Action("LoadItemByGroupId", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val(), GroupID: $("#GroupID").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#ItemCode').empty();
                                $.each(data, function (index, value) {
                                    $('#ItemCode').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                            }
                        });
                    }

                    if ('@ViewBag.GrpAndSubGrp' == 'True') {
                        $.ajax({
                            url: '@Url.Action("LoadItemBySGroupID", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val(), GroupID: $("#GroupID").val(), SGroupID: $("#SGroupID").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#ItemCode').empty();
                                $.each(data, function (index, value) {
                                    $('#ItemCode').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                                ClearComView();
                            }
                        });
                    }

                    if ('@ViewBag.SubSubGrp' == 'True') {
                        $.ajax({
                            url: '@Url.Action("LoadItemBySSGroupID", "Sales")',
                            contentType: "application/json;charset=utf-8",
                            data: {
                                ItemType: $("#ItemType").val(), GroupID: $("#GroupID").val(), SGroupID: $("#SGroupID").val(), SSGroupID: $("#SSGroupID").val()
                            },
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                $('#ItemCode').empty();
                                $.each(data, function (index, value) {
                                    $('#ItemCode').append($('<option>',
                                        {
                                            value: value.Value,
                                            text: value.Text
                                        })).select2();
                                });
                                ClearComView();
                            }
                        });
                    }
                })

                $(document).on("click", "#closePopOver", function (e) {
                    e.preventDefault();
                    jQuery("#ItemType option").filter(function () {
                        return $.trim($(this).text()) == '---- Select ----'
                    }).prop('selected', true).trigger('change.select2');

                    $("#pView").modal("hide");
                    ClearComView();
                });

                function ClearComView() {
                    var Stext = '---- Select ----';

                    jQuery("#GroupID option").filter(function () {
                        return $.trim($(this).text()) == Stext
                    }).prop('selected', true).trigger('change.select2');

                    jQuery("#SGroupID option").filter(function () {
                        return $.trim($(this).text()) == Stext
                    }).prop('selected', true).trigger('change.select2');

                    jQuery("#SSGroupID option").filter(function () {
                        return $.trim($(this).text()) == Stext
                    }).prop('selected', true).trigger('change.select2');
                }
                //***************************** For Common Item Filtering option start *******************************


            });
        </script>
    }
}

